/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(247, 66, 247);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(243, 156, 43);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(126, 4, 109);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(222, 22, 240);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(190, 0, 181);
}
